/* :root {
} */

::before,
::after,
* {
    box-sizing: border-box;
}

body,
html {
    padding: 0%;
    margin: 0%;
    height: 100%;
    font-size: 10px;
    background-color: rgb(251, 253, 255);
    scroll-behavior: smooth;
    font-family: Roboto;
}

section {
    width: 100%;
    height: 100%;
    position: relative;
}

a:link {
    text-decoration: none;
}

/* ===================================== */
.page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 1px 15px 15px -4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 15px 15px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 15px 15px -4px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 10px;
}

.page-logo {
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 111;
    top: 10%;
}

.page-menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex: 1;
    list-style: none;
    display: flex;
}

.page-menu-item {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: large;
}

.page-menu-item::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    display: block;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: width 0.3s;
}

.page-menu-item:hover::after {
    width: 50%;
    background-color: rgb(0, 86, 126);
}

.page-menu-item,
.page-menu-item:visited {
    color: #272643;
}

/* INTRO SECTION */
.intro {
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.intro-title {
    font-size: 65px;
    color: black;
    background: -webkit-linear-gradient(120deg,
            rgb(77, 154, 255),
            rgb(0, 13, 131),
            rgb(200, 249, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}

.intro-subtitle {
    font-size: 18px;
    color: #272643;
    text-align: center;
}

.intro-cv-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    position: relative;
    border-radius: 5px;
    background-color: #bae8e8;
    border-radius: 5px;
    padding: 1em 2em;
    margin-top: 10px;
    align-self: center;
    color: #272643;
    font-weight: bold;
    transition: all 0.5s;
}

.intro-cv-button:hover {
    background-color: #cbf9f9;
}

.personal-image-container {
    position: relative;
}

.personal-image {
    height: 100%;
    position: relative;
    z-index: 1;
}

.personal-image-backdrop {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 85%;
    height: 85%;
    z-index: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(120deg, rgba(255, 255, 255, 1) 4%, rgba(227, 246, 245, 1) 22%, rgba(44, 105, 141, 1) 77%);
}

/* .......................About section............................*/


.personal-information-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #009ca1;
    background-image: linear-gradient(113deg, #b2daf5 0%, #005b6b 100%);
}

.about-me-imgs-container {
    width: 50%;
    height: 100%;
    /* background-image: linear-gradient(120deg,rgb(126, 145, 255), rgb(17, 207, 255) ,rgb(81, 81, 255) ,white); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}



.about-me-imgs-container img {
    width: 80%;
    height: 100%;
    object-fit: cover;

}

.personal-information-container {
    width: 40%;
    height: 70%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;

}


.about-me-title {
    font-size: 80px;
    background: -webkit-linear-gradient(120deg, rgb(126, 145, 255), rgb(82, 220, 255), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.personal-information-paragraph {
    font-size: 26px;
    color: rgb(255, 255, 255);
}


/* .......................services section............................*/


.services-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.services-title {
    font-size: 50px;
    background: -webkit-linear-gradient(120deg, rgb(190, 200, 255), rgb(0, 174, 218));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.services-divs-container {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e3f6f5;
    box-shadow: 0px 0px 44px -19px #272643;
    padding: 10px;
}

.services-div {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    box-shadow: 0px 0px 44px -19px rgb(0, 0, 0);
    background-color: #bae8e8;

}

.services-div::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    box-sizing: border-box;
    height: 0;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    transition: all .8s ease;
}

.services-div::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    box-sizing: border-box;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: all .8s ease;
}

.services-div:hover::after {
    border-color: rgb(4, 142, 177);
    width: 100%;
    height: 100%;
}

.services-div:hover::before {
    border-color: rgb(4, 142, 177);
    width: 100%;
    height: 100%;
}

.services-img-icons {
    width: 90px;
    height: 90px;
}

.service-title {
    font-size: 40px;
}

.service-information {
    font-size: 16px;
}

/* .......................skills section............................*/

.skills-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(227, 246, 245);
    background: linear-gradient(-120deg, 13%, rgb(176, 223, 250) 85%);
}

.skill-education-experience-container {
    width: 90%;
    height: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info-box {

    width: 28%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(248, 255, 254);
    transition: transform .2s;
    box-shadow: 0px 0px 44px -19px rgb(0, 0, 0);
    border-radius: 5px;


}

.box-info-icon {
    width: 80px;
    height: 80px;
}


.info-box:hover {

    background-color: #bae8e8;
    color: rgb(0, 0, 0);
    transform: scale(1.3);
    box-shadow: 0px 0px 44px -19px #2c698d;

}

.info-box-title {

    font-size: 30px;
    background: -webkit-linear-gradient(120deg, rgb(0, 16, 104), rgb(17, 207, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.box-info-list li {
    font-size: 16px;
}

.year-education {
    display: block;
    font-weight: bold;
    background: -webkit-linear-gradient(120deg, rgb(4, 17, 94), rgb(17, 207, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*>>>>>>>>>>>>>>>>>>>> work section<<<<<<<<<<<<<<<<<<<<*/

.work-page-container {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}



.work-list-container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.work-family {
    width: 30%;
    height: 80%;
}

.work-categories {
    width: 90%;
    height: 50%;
    background-color: rgb(82, 82, 16);
    list-style: none;
    display: flex;
    position: relative;
    margin-top: 5%;
    margin-left: 8%;
}

.work-categories-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20%;
}

.work-categories-title {
    font-size: 40px;
    background: -webkit-linear-gradient(120deg, rgb(117, 213, 216), rgb(2, 125, 156));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.work-categories-poster {
    max-width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 44px -15px rgb(0, 0, 0);
}

.link-to-work-page {
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.3);
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    padding: 22px;

}

.link-to-work-page:hover {

    opacity: 1;
}

.link-to-work-page:link {
    text-decoration: none;

}

.link-to-work-page h2 {
    font-size: 20px;
}

/*>>>>>>>>>>>>>>>>>>>> contact section<<<<<<<<<<<<<<<<<<<<*/



#contact .contener {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

#contact .contener .contact {
    width: 70%;
    height: 600px;
    border-radius: 7px;
    display: flex;
    border: 1px dotted black;
}

#contact .contener .contact .gmail {
    width: 50%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#contact .contener .contact .gmail h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: : Bebas Neue;
    ;
    position: absolute;
    top: 0;

}

#contact .contener .contact .gmail form {

    width: 90%;
    height: 90%;
    padding: 20px;
    margin-top: 15%;
}

#contact .contener .contact .gmail form label {
    display: block;
    font-size: 20px;
    margin-top: 16px;
    font-family: : Bebas Neue;
    ;
}

#contact .contener .contact .gmail form input {
    width: 90%;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid gray;
}

#contact .contener .contact .gmail form input:hover {
    box-shadow: 0px 0px 10px 2px rgb(187, 243, 253);
}

#contact .contener .contact .social {
    width: 50%;
    height: 100%;
    border-radius: 7px;
    position: relative;



}

#contact .contener .contact .social ul {
    width: 70%;
    height: 250px;
    border-radius: 7px;

    margin-left: 50px;
    position: relative;
}

#contact .contener .contact .social ul li {
    width: 60px;
    height: 60px;
    border-radius: 7px;

    list-style: none;
    margin-left: 37%;
    margin-top: 20px;
    display: flex;
}

/* #contact .contener .contact .social ul li a{
   width: 100%;
   height: 100%;
   background-color: rgb(0, 255, 34);
} */

#contact .contener .contact .social h2 {
    margin-top: 15%;
    margin-left: 180px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: : Bebas Neue;
    ;
    height: 60px;
}

#contact .contener .contact .gmail form .message {
    width: 90%;
    height: 90px;
    padding: 10px;
}

#contact .contener .contact .gmail form button {
    display: block;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-left: 150px;
    font-size: 15px;
    border-radius: 15px;
    background-color: gray;
    color: white;
    border: none;
}

#contact .contener .contact .gmail form button:hover {
    background-color: rgb(172, 172, 172);
    color: rgb(136, 136, 136);
    box-shadow: 0px 0px 4px 4px rgb(255, 163, 163);

}

footer {
    width: 100%;
    height: 150px;
    background-color: rgb(7, 166, 172);
    display: flex;
    justify-content: center;
}

.fa {
    width: 80%;
    height: 40%;
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 9px;
}

.fa:hover {
    opacity: 0.7;
    box-shadow: 0px 0px 10px 5px rgb(159, 159, 255);
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}



.fa-linkedin {
    background: #007bb5;
    color: white;
}



.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

em {
    font-size: small;
}